StageConfig(
    name: "Stage 1 - Tutorial",
    width: 15,
    height: 11,
    layout: [
        "###############",
        "#P   X   X   E#",
        "# # # # # # # #",
        "#   X   X   X #",
        "# # # # # # # #",
        "#   X   X   X #",
        "# # # # # # # #",
        "#   X   X   X #",
        "# # # # # # # #",
        "#E  X   X   E #",
        "###############",
    ],
)
